.content {
  color: var(--yellow);
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  text-shadow: 2px 2px 1px var(--black);

  .intro,
  .info {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    flex: 1 0 50%;
  }

  .intro {
    transform: perspective(300px) rotateX(20deg) translateY(-20px) !important;
    z-index: 1;

    .crawler {
      overflow: hidden;
      padding: 10px;
      position: relative;
    }

    .text {
      margin: 80vh 15%;
      /* text-align: justify; */ // should be, but looks awful! 🤫
      font-size: 3rem;
      z-index: 1;
    }

    &:before {
      background-image: linear-gradient(to bottom, var(--black), transparent);
      content: '';
      height: 80px;
      left: 0;
      position: absolute;
      width: 100%;
      display: block;
      right: 0;
      top: 0;
      z-index: 2;
    }

    .btn-replay {
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0;
      transform: translate(-60%, -60%) scale(0);
      transition: 0.25s ease-out;
      transition-property: transform, opacity;
      &.visible {
        opacity: 1;
        transform: translate(-60%, -60%) scale(1);
      }
    }
  }

  .info {
    justify-content: center;
    padding: 10px;

    h1 {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 300;
      margin-top: 0;
    }

    h2 {
      margin: 0;
    }

    p {
      margin: 0 0 1rem;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      list-style: none;
      justify-content: center;
      align-items: center;
      padding: 0;

      li {
        margin: 2.5rem 15px 0;

        h2 {
          margin: 0;
          font-size: 3rem;
        }
      }
    }
  }

  @media (max-width: 640px) {
    overflow-y: auto;
    .intro {
      display: none;
    }
  }
}
