.card {
  border-radius: 16px;
  height: 200px;
  margin: 10px;
  overflow: visible;
  position: relative;
  width: 140px;
  transition-property: box-shadow;

  &,
  img,
  .content,
  .content > *,
  &:before,
  &:after {
    border-radius: 16px;
    transition: 0.35s ease-out;
  }

  figure,
  img,
  .content,
  &:before,
  &:after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    object-fit: cover;
  }

  figure {
    margin: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .content {
    color: var(--yellow);
    opacity: 0;
    position: fixed;
    transform: scale(0) translateY(100%);
    & > * {
      visibility: hidden;
      opacity: 0;
      transform: translateY(100%);
      transition-delay: 0.15s;
      &:nth-child(2) {
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        transition-delay: 0.25s;
      }
    }
  }

  &:before {
    transform: scale(0.6);
    filter: blur(16px);
    transition-property: filter, transform, opacity;
    background-image: var(--force-gradient);
    z-index: -1;
  }

  &:after {
    box-sizing: border-box;
    transition-property: border, box-shadow;
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 25px 30px -10px #000;
    &:before {
      transform: scale(1.1, 1.05);
      animation: pulse 3s infinite;
    }
    &:after {
      box-shadow: 0 0 1px 2px var(--white);
    }
  }

  &.active .content {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0;
    z-index: 9;
    background: var(--black);
    border-radius: 0;
    opacity: 0.9;
    transform: scale(1) translateY(0);
    overflow: hidden;
    padding: 110px 10px 40px;

    & > * {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@keyframes pulse {
  0%,
  50%,
  100% {
    opacity: 0.6;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 3s infinite;
}
