@font-face {
  font-family: brushstrike;
  src: url('../fonts/brushstrike.ttf');
}

:root {
  --white: #fff;
  --yellow: #ffe500;
  --green: #48ca61;
  --blue: #29baff;
  --purple: purple;
  --black: #000;
  --red: #d42;
  --force-gradient: linear-gradient(135deg, var(--green) 15%, var(--blue), var(--purple), var(--red) 85%);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-image: url('../images/background.jpg');
  background-color: var(--black);
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
main,
footer {
  padding: 10px;
  position: relative;
}

header {
  align-items: center;
  display: flex;
  flex: 0 1 100px;
  flex-flow: column nowrap;
  min-height: 100px;
  justify-content: center;
  margin: 0 0 10px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

footer {
  color: var(--white);
  flex: 0 1 auto;

  .jedi {
    @extend .brushed;
    transform: translateY(-2px) scale(1.1);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    padding: 0 4px;
  }

  .sith {
    font-family: monospace;
    font-size: 1.2em;
  }
}

.row {
  display: flex;
  align-items: center;
}

.brushed {
  font-family: 'brushstrike';
}

.sith,
.jedi,
.yoda,
.windu {
  color: var(--white);
}

.sith {
  text-shadow: 0 0 2px var(--red), 0 0 4px var(--red), 0 0 8px var(--red), 0 0 16px var(--red), 0 0 32px var(--red),
    2px 2px var(--black);
}

.jedi {
  text-shadow: 0 0 2px var(--blue), 0 0 4px var(--blue), 0 0 8px var(--blue), 0 0 16px var(--blue), 0 0 32px var(--blue),
    2px 2px var(--black);
}

.yoda {
  text-shadow: 0 0 2px var(--green), 0 0 4px var(--green), 0 0 8px var(--green), 0 0 16px var(--green),
    0 0 32px var(--green), 2px 2px var(--black);
}

.windu {
  text-shadow: 0 0 2px var(--purple), 0 0 4px var(--purple), 0 0 8px var(--purple), 0 0 16px var(--purple),
    0 0 32px var(--purple), 2px 2px var(--black);
}

.playground {
  @extend .brushed;
  @extend .windu;
  position: absolute;
  bottom: 0;
  margin: 0;
  color: var(--yellow);
  transform: rotate(-3deg) scale(0.7) translate(35%, 45%);
}

.shadow {
  filter: drop-shadow(2px 2px 8px var(--black));
}

#svg-defs {
  height: 0;
  position: absolute;
  width: 0;
}

svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

symbol svg {
  fill: var(--white);
}

ul.movies {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &.full {
      flex: 1 0 100%;
      height: min-content;
    }
    &:not(.full):not(.active):not(.visited) {
      animation: fadein 0.25s forwards;
      opacity: 0;
      transform: scale(0);

      &:nth-of-type(2) {
        animation-delay: 0.05s;
      }
      &:nth-of-type(3) {
        animation-delay: 0.1s;
      }
      &:nth-of-type(4) {
        animation-delay: 0.15s;
      }
      &:nth-of-type(5) {
        animation-delay: 0.2s;
      }
      &:nth-of-type(6) {
        animation-delay: 0.25s;
      }
      &:nth-of-type(7) {
        animation-delay: 0.3s;
      }

      &:nth-of-type(8) {
        animation-delay: 0.35s;
      }

      &:nth-of-type(9) {
        animation-delay: 0.4s;
      }

      @keyframes fadein {
        to {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    button.focusable {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding: 0;
      border: none;
      background: none;
      outline: none;
    }
  }
}

.card {
  border-radius: 16px;
  height: 200px;
  margin: 10px;
  overflow: visible;
  position: relative;
  width: 140px;
  transition-property: box-shadow;

  &,
  img,
  .content,
  &:before,
  &:after {
    border-radius: 16px;
    transition: 0.35s ease-out;
  }

  figure,
  img,
  .content,
  &:before,
  &:after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  img {
    object-fit: cover;
  }

  figure {
    margin: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .content {
    opacity: 0;
    position: fixed;
    transform: scale(0);
    * {
      visibility: hidden;
    }
  }

  &:before {
    transform: scale(0.6);
    filter: blur(16px);
    transition-property: filter, transform, opacity;
    background-image: var(--force-gradient);
    z-index: -1;
  }

  &:after {
    box-sizing: border-box;
    transition-property: border, box-shadow;
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 25px 30px -10px #000;
    &:before {
      transform: scale(1.1, 1.05);
      animation: pulse 3s infinite;
    }
    &:after {
      box-shadow: 0 0 1px 2px var(--white);
    }
  }

  &.active .content {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 0;
    z-index: 9;
    background: var(--black);
    border-radius: 0;
    opacity: 0.9;
    transform: scale(1);
    color: var(--yellow);
    overflow: hidden;
    padding: 110px 10px 40px;

    * {
      visibility: visible;
    }
  }
}

.btn {
  &,
  &-close,
  &-replay {
    border: none;
    background: none;
    color: var(--white);
    cursor: pointer;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 10px;
  }
}

@keyframes pulse {
  0%,
  50%,
  100% {
    opacity: 0.6;
  }
  25%,
  75% {
    opacity: 1;
  }
}

.pulse {
  animation: pulse 3s infinite;
}
